@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-pc {
    @apply
      px-5 py-2 ml-3 text-sm tracking-[0.2em] border-2 rounded-full cursor-pointer font-fredoka text-rose-400 border-rose-400 transition ease-in-out duration-300 hover:bg-rose-400 hover:text-white;
  }

  .link-mobile {
    @apply py-2 text-center border-2 rounded-full cursor-pointer text-rose-400 border-rose-400;
  }

  .link-active {
    @apply text-white bg-rose-400;
  }
}
